[Unit]
Description=DWMstatus Service

After=Pipewire.service
ConditionUser=!root

[Service]
Type=simple
ExecStart=dwmstatus -d
Restart=on-failure

[Install]
WantedBy=graphical.target
